%h1
  Welcome to Rob and Dez's Site!

%ul
  %li 
    Connect with Us 
    %ul
      %li on facebook
      %li on twitter
      %li on vine
      %li on google plus
      %li on pinterest
    %li Recommend a Rob's retro song
    %li Lodge a complaint
    %li Make a suggestion for a show
    %li join our text club
    %li Check out our Blog
    %li Vent here
    %li Join our text club
    %li Rob and Dez's deals
    %li Classified ads